<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>TODO</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<!-- <div id="application">
  <my-component></my-component>
</div>

<div id="app">
  <input type="text" v-model="message" placeholder="What needs to be done?">
  <p>
    つ【{{ message }}】
  </p>
</div>

<div id="checkbox">
  <input type="checkbox" v-model="checked">
  {{ checked }}
</div>

<div id="application">
  <my-component></my-component>
  <test-component></test-component>
</div>

<div id="practice" style="margin-bottom: 50px;">
  <button-counter></button-counter>
</div> -->

<h1><a href="index.html">TODOS</a></h1>
  <div id="todos">
    <input class="input-box" v-model="taskName" placeholder="What needs to be done?" v-on:change="addTask" type="text">
    <button v-on:click="allDoneBtn" v-bind:class="{activeBtn: allDone}">all done</button>
    <button v-on:click="destroyTasks">DESTROY</button>
    <ul>
      <li v-for="(item, index) in items" v-bind:key="item.id" v-bind:class="{checked: item.checked, hide: item.hideTask}">
        <input type="checkbox" v-model="item.checked">
        <span v-show="item.edit == false" v-on:dblclick="item.edit = true" v-bind:class="{blue: item.color == 'blue', red: item.color == 'red'}">
          {{ item.taskName }}
        </span>
        <span v-show="item.edit == false">
          <button v-on:click="changeColor(index)" v-bind:class="{btnBlue: item.color == '', btnRed: item.color == 'blue', btnBlack: item.color == 'red'}"></button> <button v-on:click="deleteTask(index)">X</button>
        </span>
        <input v-show="item.edit == true" v-model="item.taskName" v-on:blur="updateTask(index)" v-on:keyup.enter="updateTask(index)">
      </li>
    </ul>
    <p>▶︎ {{ taskCount == '1' ? taskCount + ' item' : taskCount + ' items' }} left {{ taskCount == '0' ? '＼(^-^)／' : '' }}</p>
    <button v-on:click="showAll">all</button>
    <button v-on:click="showActive">active</button>
    <button v-on:click="showCompleted">completed</button>
    <span v-show="showButton"><button v-on:click="deleteCompletedTask">clear completed</button></span>
  </div>

  <script type="text/javascript" src="vue.js"></script>

</body>
</html>